{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Welcome {{ title }} ! ✅</h1>
    <img src="{{ asset('images/logo.png') }}" />
</div>
{% endblock %}
{% block sidebar %}
    {{ include('/layout/pub.html.twig') }}
{% endblock %}