{% extends 'base.html.twig' %}

{% block title %}Hello UserProfileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .profilepicture {width: 100px;}
</style>

<div class="example-wrapper">
    <img class = "profilepicture" src="https://img.freepik.com/premium-vector/account-icon-user-icon-vector-graphics_292645-552.jpg">
</div>
{% endblock %}
