<div id="sidebar">
    <div class="advertisement">
        <h2>Trouve ton composte le plus chaud de ta région !</h2>
        <h5>Fais comme Théo</h5>
        <img src="{{ asset('images/pub_tinder.png') }}" />
    </div>
    <div class="advertisement">
        <h2>Composte de l'espace</h2>
        <img src="{{ asset('/images/pub_espace.png') }}" />
    </div>
</div>